:root {
  --color-fondo: #f5f5f5;
  --color-texto: #333;
  --color-secundario: #555;
  --color-principal-oscuro: #0a2a00;
  --color-principal-claro: #fff;
  --color-acento: #0b5d00;
  --color-acento-hover: #123a00;
  --color-borde: #ccc;
  --color-linea: #ddd;
  --color-footer-texto: #bbb;
}


/*///////////////// AJUSTES GENERALES //////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  padding-top: 60px;
}

h1, h2, h3, .btn {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


/*///////////////// NAV //////////////////*/
.main-header {
  background-color: var(--color-principal-oscuro);
  color: var(--color-principal-claro);
  padding: 15px 0; 
  display: flex;
  justify-content: center;
  position:fixed;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  max-width: 1200px;
  z-index:1000;
}

.logo {
  font-size: 1.5em; 
  font-weight: 600;
  color: var(--color-principal-claro);
}

.main-nav ul {
  display: flex;
  gap: 30px;
}

.main-nav a.activo {
  border-bottom: 2px solid var(--color-acento-hover);
}


/*///////////////// FOOTER //////////////////*/

footer {
  background-color: var(--color-principal-oscuro); 
  color: var(--color-principal-claro);
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.1em;
  margin-bottom: 15px;
  color: var(--color-principal-claro);
  font-weight: 600;
  text-transform: uppercase;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--color-texto); 
  font-size: 0.85em;
  color: var(--color-footer-texto);
}

.footer-bottom p {
  margin-bottom: 10px;
}


/*///////////////// INDEX //////////////////*/

.hero {
  position: relative;
  width: 100%;
  height: 120vh; 
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide.active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.slide-text {
  position: absolute;
  top:20%;
  transform:translateY(50%);
  left:10%;
  z-index:10;
  color: white;
  padding: 20px;
  max-width: 40%;
  border-radius: 8px;
  text-align:left;
  display:flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .slide-text {
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    text-align: left;
  }
}

.slide-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.slide-text p {
  font-size: 1.2rem;
}

.slide-btn {
  width: fit-content;
  display: inline-block;
  border: 2px solid white;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.slide-btn:hover {
  background-color: transparent; 
}

/* Flechas de navegación */
.hero button.prev,
.hero button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px 15px;
  cursor: pointer;
  background:none;
  z-index: 20;
  opacity: 0 !important;
  transition: opacity 0.3s ease, transform 0.3s ease !important;
  transform:translateY(-50%);
}

.prev {
  left: 0;
  transform: translate(-50px, -50%);
}

.next {
  right: 0;
  transform: translate(50px, -50%); 
}

.hero:hover .prev {
  opacity: 1 !important;
  transform: translate(0, -50%); 
}

.hero:hover .next {
  opacity: 1 !important;
  transform: translate(0, -50%);
}

.hero button.prev {
  left: 20px;
}

.hero button.next {
  right: 20px;
}







/*///////////////// CONTACTO //////////////////*/

.contacto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 5%;
  background-color: var(--color-principal-claro);
  border-top: 1px solid var(--color-linea);
  border-bottom: 1px solid var(--color-linea);
}

.formulario-contacto {
  flex: 1 1 400px;
  border-right: 1px solid var(--color-borde);
  padding-right: 40px;
}

.formulario-contacto h2 {
  font-size: 1.5em;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-principal-oscuro);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.formulario-contacto h2::after {
  content: '';
  flex-grow: 1; 
  height: 1px;
  background-color: var(--color-linea);
}

.formulario-contacto p {
  margin-bottom: 30px;
  font-size: 0.95em;
  color: var(--color-secundario);
  line-height: 1.6;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-principal-oscuro);
  font-weight: 600;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--color-borde);
  border-radius: 4px;
  font-size: 1em;
}

form textarea {
  resize: vertical;
}

.btn {
  background-color: var(--color-acento);
  color: var(--color-principal-claro);
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--color-acento-hover);
}

.redes-contacto {
  flex: 1 1 300px;
}

.redes-contacto h2 {
  font-size: 1.5em;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-principal-oscuro);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.redes-contacto h2::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-linea);
}

.iconos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.iconos .fa-facebook-f {
  color: var(--color-principal-claro);
  background-color: var(--color-principal-oscuro); 
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.iconos .fa-instagram {
  font-size: 2.5em;
}


/*///////////////// FRANQUICIAS //////////////////*/


/*///////////////// MENU-TIENDA //////////////////*/


/*///////////////// TIENDA //////////////////*/


/*///////////////// TRABAJA EN TDC //////////////////*/


/*///////////////// TUTORIALES //////////////////*/


/*///////////////// RESPONSIVE //////////////////*/

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .contacto-container {
    flex-direction: column;
  }

  .iconos {
    flex-direction: row;
    justify-content: center;
  }
}
